{% extends 'base.jinja2' %}

{% block content %}
  <div id="hero-row" class="row">
    <div id="hero-container" class="span10 offset3">
      <div class="hero-unit">
        <h1>Bookworm</h1>
        <p>Проиндексированные рипы онлайн-библиотек в едином интерфейсе</p>
        <p>
          <form id="search-form" class="form-search" action="/search/">
            <input type="text" name="query" class="input-medium search-query" id="search-input" autocomplete="off" />
            <button type="submit" class="btn btn-primary btn-large">Фас</button>
          </form>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
