{% extends 'base.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="/css/search.css">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <form id="search-form" action="/search/">
            <input type="text" name="query">
            <input type="submit" value="search">
        </form>
    </div>
{% endblock %}